
body{
    background-color:#fee6f3;
}

img{
  width: 400px;
  height: 250px;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/myfont-regular-webfont.woff), url(fonts/myfont-regular-webfont.woff2), url(fonts/Myfont-Regular.otf), url(fonts/Myfont-Regular.ttfs);

}

body {
  font-family: myFirstFont;
  font-size: 20px;
}