

section{
    height: 400px;
    width: 600px;
    margin-top: 300px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position:relative;
}

form{
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inside;
    position: absolute;
    color: white;
}



input[type=text] {
    width: 400px;
    padding: 40px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=text1]{
      width: 200px;
  }

  body{
    background-image: url("bg.png");
}

