button{
    background-color:  #ff33ff;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
    content: "\f04b"
}

#playbutton2{
    background-color: #00ff00;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#playbutton2:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04b";
}


#playbutton2.play{
    background-color: #00ff00;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#playbutton2.play:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04b";
}


#playbutton2.pause{
    background-color: #ff0000;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}
#playbutton2.pause:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: '\f04c';
}

#playbutton2.stop{
    background-color: #ff0000;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#playbutton2.stop:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04d"
}

button:hover {
    background-color: #114477;
  }


.sound1{
    volume: 
}

body {
    text-align: center;
}

#playbutton{
    background-color: #ff33ff;
}

#playbutton:hover {
    background-color: #114477;
  }

  #deletebutton{
    background-color:  #ff33ff;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#deletebutton:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f1f8"
}

#recordbutton{
    background-color:  #ff33ff;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#recordbutton:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f130"
}

