button{
    background-color:  #ff33ff;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#deletebutton{
    background-color:  #ff33ff;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#deletebutton:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f1f8"
}

#recordbutton{
    background-color:  #e0ff33;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#recordbutton.notrecording{
    background-color:  #e0ff33;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#recordbutton.recording{
    background-color:  #ff3333;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#recordbutton:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f130"
}

#playbutton{
    background-color: #00ff00;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#playbutton:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04b";
}


#playbutton.play{
    background-color: #00ff00;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#playbutton.play:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04b";
}


#playbutton.pause{
    background-color: #ff0000;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}
#playbutton.pause:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: '\f04c';
}

#playbutton.stop{
    background-color: #ff0000;
    text-align: center;
    padding: 100px 100px;
    cursor: pointer;
}

#playbutton.stop:before{
    font-family: 'FontAwesome';
    font-size:5em;
    content: "\f04d"
}

button:hover {
    background-color: #114477;
  }


.sound1{
    volume: 
}

body {
    text-align: center;
}

#playbutton{
    background-color: #ff33ff;
}

#playbutton:hover {
    background-color: #114477;
  }

#deletebutton{
    background-color: #ff33ff;
}

#deletebutton:hover {
    background-color: #114477;
  }

#recordbutton{
    background-color: #ff33ff;
}

#recordbutton:hover {
    background-color: #114477;
  }