
button{
    //background-color:   #4744447c;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

button:hover {
    background-color:  #a35ec3;
  }


.sound1{
    volume: 
}

body {
    text-align: center;
    background-color:  white;
}

#playbutton{
    background-color: #00000078;
}

#playbutton:hover {
    background-color: #a35ec3;
  }

  #playbutton.active{
    background-color: #00ff00;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

#playbutton{
    background-color: #ff0000;
    text-align: center;
    padding: 150px 150px;
    cursor: pointer;
}

//wie ändere ich das grün und rot in die beiden Bilder ??