body{
    background-color: lightgoldenrodyellow;
    font-family: Retro Gaming;

}

@font-face {
    font-family: Retro Gaming;
    src: url(/fonts/RetroGaming.ttf);
}


#Text{
    font-size: 100px;
}

#Me{
    font-size: 10px;
}